body {
    font-family: 'Cambria', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff6f61, #ffcc00);
    color: #333;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% { background: linear-gradient(45deg, #ff6f61, #ffcc00); }
    100% { background: linear-gradient(45deg, #ffcc00, #ff6f61); }
}

header {
    background: linear-gradient(45deg, #333, #ff6f61);
    color: #fff;
    padding: 2em 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: headerAnimation 5s infinite alternate;
    border-bottom: 5px solid #ffcc00;
}

@keyframes headerAnimation {
    0% { background: linear-gradient(45deg, #333, #ff6f61); }
    100% { background: linear-gradient(45deg, #ff6f61, #333); }
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    animation: navAnimation 5s infinite alternate;
}

@keyframes navAnimation {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

section {
    padding: 3em;
    margin: 2em 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: sectionAnimation 5s infinite alternate;
    border: 2px solid #ff6f61;
}

@keyframes sectionAnimation {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: galleryAnimation 5s infinite alternate;
}

@keyframes galleryAnimation {
    0% { opacity: 1; }
    100% { opacity: 0.8; }
}

.gallery img {
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

footer {
    background: linear-gradient(45deg, #333, #ff6f61);
    color: #fff;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    animation: footerAnimation 5s infinite alternate;
    border-top: 5px solid #ffcc00;
}

@keyframes footerAnimation {
    0% { background: linear-gradient(45deg, #333, #ff6f61); }
    100% { background: linear-gradient(45deg, #ff6f61, #333); }
}


